{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "umd": {
      "presets": [
        [ "@babel/preset-env", { "modules": "umd" } ]
      ],
      "plugins": [
        "@babel/plugin-transform-modules-umd",
        "@babel/plugin-transform-runtime",
        [
          "babel-plugin-transform-rename-import",
          {
            "original": "^(.+?)\\.less$",
            "replacement": "$1.css"
          }
        ]
      ]
    },
    "esm": {
      "presets": [
        [ "@babel/preset-env", { "modules": false } ]
      ],
      "plugins": [
        [ "@babel/plugin-transform-runtime", { "useESModules": true } ],
        [ "babel-plugin-transform-rename-import", { "original": "^(.+?)\\.less$", "replacement": "$1.css" } ]
      ]
    },
    "esmdev": {
      "presets": [
        [ "@babel/preset-env", { "modules": false } ]
      ],
      "plugins": [
        [ "@babel/plugin-transform-runtime", { "useESModules": true } ]
      ]
    },
    "cjs": {
      "plugins": [
        [ "babel-plugin-transform-remove-imports", { "test": "(less|css)$" } ]
      ]
    }
  }
}
